*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#1a1a1a;
color:white;
font-family:Arial,sans-serif;

/* coloca todo en columna */
display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

min-height:100vh;
gap:50px; /* separación entre formulario y Mercedes */
padding:40px;
}

/* FORMULARIO */
form{
width:460px;
padding:42px;
border:1px solid #333;
border-radius:12px;
background:#111;
}

label{
display:block;
margin-top:12px;
margin-bottom:8px;
font-size:20px;
}

input{
width:100%;
padding:12px;
border:1px solid #333;
border-radius:8px;
background:#181818;
color:white;
font-size:18px;
margin-bottom:20px;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:40px;
background:#007bff;
color:white;
font-size:20px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#005fd1;
}

/* TARJETA MERCEDES ABAJO */
.product-card{
width:420px;
background:#202020;
padding:25px;
border-radius:20px;
box-shadow:0 0 25px rgba(255,255,255,.08);
}

.image-card{
height:280px;
border-radius:18px;
overflow:hidden;
padding:20px;
}

.image-card{
height:260px;
background-size:cover;
background-position:center;
}

h2{
font-size:35px;
margin-bottom:20px;
}

.colors{
display:flex;
gap:15px;
margin-bottom:25px;
}

.colors span{
padding:12px 25px;
background:rgba(255,255,255,.08);
border-radius:30px;
cursor:pointer;
}

#cartButton{
background:#111;
font-size:28px;
padding:12px;
}



